div.name  {
    background-image:url(./7.jpg);
}

h2 {
    font-family: 'Courier New', Courier, monospace;
}

div.work h2{
    border-style:solid;
    border-color:blue;
}

div.gal {
    background-color:cornflowerblue;
}