#icon {
    border-style:double;
    border-color:black;
    width: 70px;
    height: px;
}
    
div h1 {
    display: inline-block;
    position:fixed;
}
* {
    background-image:url(./background.png);
    background-attachment: fixed;
    color: white;
    font-family:'Times New Roman', Times, serif;
}