body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F3EFD0;
}

header {
    background-color: maroon;
    color: white;
    padding: 40px 0;
    margin-bottom: 1px;
    position: relative;
}

.gold-line {
    height: 10px;
    background-color: gold;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
}

main {
    padding: 20px;
    text-align: center;
    justify-content: center;
}

.greeting {
    margin-bottom: 20px;
    background-color: maroon;
    color: white;
}

.container {
    display: grid;
    grid-template-areas:
        "name gender"
        "section studentnumber"
        "email contactnumber";
}

.container {
    color: white;
    background: maroon;
}

#name {
    grid-area: name;
}

#gender {
    grid-area: gender;
}

#email {
    grid-area: email;
}

#section {
    grid-area: section;
}

#studentnumber {
    grid-area: studentnumber;
}

#contactnumber {
    grid-area: contactnumber;
}

